<?xml version="1.0"?>
<config>
    <modules>
        <Sag_Luckydraw>
            <version>1.0.0</version>
        </Sag_Luckydraw>
    </modules>
    <frontend>
        <routers>
            <luckydraw>
                <use>standard</use>
                <args>
                    <module>Sag_Luckydraw</module>
                    <frontName>luckydraw</frontName>
                </args>
            </luckydraw>
        </routers>
        <layout>
            <updates>
                <luckydraw>
                    <file>luckydraw.xml</file>
                </luckydraw>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<luckydraw>
				<use>admin</use>
				<args>
					<module>Sag_Luckydraw</module>
					<frontName>luckydraw</frontName>
				</args>
			</luckydraw>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<luckydraw module="luckydraw">
				<title>Luckydraw</title>
				<sort_order>171</sort_order>               
				<children>
					<luckydraw module="luckydraw">
						<title>Manage Luckydraw</title>
						<sort_order>10</sort_order>
						<action>luckydraw/adminhtml_luckydraw</action>
					</luckydraw>
					<subscribers module="luckydraw">
						<title>Manage Subscribers</title>
						<sort_order>11</sort_order>
						<action>luckydraw/adminhtml_subscriber</action>
					</subscribers>
				</children>
			</luckydraw>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sag_Luckydraw>
							<title>Luckydraw Module</title>
							<sort_order>10</sort_order>
						</Sag_Luckydraw>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<luckydraw>
					<file>luckydraw.xml</file>
				</luckydraw>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <luckydraw>
                <class>Sag_Luckydraw_Model</class>
                <resourceModel>luckydraw_mysql4</resourceModel>
            </luckydraw>
            <luckydraw_mysql4>
                <class>Sag_Luckydraw_Model_Mysql4</class>
                <entities>
                    <luckydraw>
                        <table>luckydraw</table>
                    </luckydraw>
					<subscriber>
                        <table>subscriber</table>
                    </subscriber>
                </entities>
            </luckydraw_mysql4>
        </models>
        <resources>
            <luckydraw_setup>
                <setup>
                    <module>Sag_Luckydraw</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </luckydraw_setup>
            <luckydraw_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </luckydraw_write>
            <luckydraw_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </luckydraw_read>
        </resources>
        <blocks>
            <luckydraw>
                <class>Sag_Luckydraw_Block</class>
            </luckydraw>
        </blocks>
        <helpers>
            <luckydraw>
                <class>Sag_Luckydraw_Helper</class>
            </luckydraw>
        </helpers>
    </global>
</config>